.donation-goal-box.bordered-field-orange {
  background-color: var(--orange2) !important;
  color: white !important;
}

.ico-text span {
  font-weight: 600;
}

.heart-jar {
  height: 60vh;
  width: 60vh;
  margin: 1rem auto;
  background-image: url(../img/heart-jar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.15s ease-out;
}

.heart-jar:hover {
  background-image: url(../img/heart-jar-colored.png);
}

.progress-container {
  margin: 0 auto;
}

.help-request {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}

.your-tickets-box {
  background-color: white;
  box-shadow: inset 0px 0px 30px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.your-tickets-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: black;
}

.wallet-address-title,
.tickets-number-title {
  color: black !important;
}

.row-number-box {
  height: 100%;
}

.step-circle-box {
  position: relative;
}

.step-circle-box::before {
  content: "";
  position: absolute;
  width: 83.33333%;
  height: 11px;
  top: calc(50% - 5.5px);
  left: 8.33333%;

  z-index: -1;
  background: #e3e3e3;
  border-radius: 3.5px;
}

.step-bar {
  position: absolute;
  /* width: 41.5%; */
  height: 11px;
  background-color: var(--orange2);
  top: calc(50% - 5.5px);
  left: 8.33333%;
  transition: 0.5s;
  padding: 0 !important;
}

.step-circle-container {
  z-index: 2;
}

.step-circle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  border: 3px solid #e3e3e3;
  box-sizing: border-box;
}

.step-circle.step-active {
  background: #ff4c29;
  border: 3px solid #e3e3e3;
  box-sizing: border-box;
}

.step-title {
  font-size: 24px;
  line-height: 36px;
}

.form-floating > label {
  color: rgba(0, 0, 0, 0.3);
}

.donate-next,
.create-next {
  width: 230px;
  height: 58px;
  background: var(--orange2);
  border-radius: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
}

.donate-back,
.create-back {
  width: 263px;
  height: 58px;
  background: transparent;
  border-radius: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  border: 1px solid var(--orange2);

  color: var(--primary);
}

.wallet-address-input,
.ticket-count-input {
  width: 50%;
  margin: 40px auto !important;
}

.btn-check:active + .btn-outline-danger,
.btn-check:checked + .btn-outline-danger,
.btn-outline-danger.active,
.btn-outline-danger.dropdown-toggle.show,
.btn-outline-danger:active {
  color: #fff;
  background-color: var(--orange2);
  border-color: var(--orange2);
}

.btn-outline-danger {
  border-radius: 58px;
  color: var(--primary);
  border-color: var(--orange2);
  margin-right: 0.2rem;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: var(--orange2);
  border-color: var(--orange2);
}

.ticket-price-number {
  font-weight: 500;
}

/* modal */
.charity-address-field {
  background: rgba(227, 227, 227, 0.4);
  border-radius: 8px;
}
.charity-address-text {
  word-wrap: break-word;
}

.copy-charity {
  background: #000000;
  border-radius: 8px;
  width: 100%;
  color: white;
}
.copy-charity:hover {
  color: white;
  transform: none;
}

.tickets-number span {
  font-weight: 500;
}

.operation-text {
  font-family: Reem Kufi;
  font-size: 28px;
  line-height: 42px;
}

.donation-steps-box {
  background: rgba(255, 108, 3, 0.63);
  border-radius: 12px;
}

.donation-text span {
  font-weight: 600;
}

.donation-fineprint {
  font-size: 0.85rem;
}

.modal-content p {
  color: black !important;
}

.terms-link {
  color: var(--orange2) !important;
  text-decoration: underline !important;
}

/* 


*/
/* Styling for Responsive Layout */

@media (max-width: 991px) {
  .progress-container {
    width: 80% !important;
  }
  .transaction-id-text {
    font-size: 0.86rem !important;
  }

  .step-circle-box::before {
    height: 4px;
    top: calc(50% - 2px);
    left: 8.33333%;
  }

  .step-circle {
    width: 28px !important;
    height: 28px !important;
  }

  .donate-next,
  .create-next,
  .create-back,
  .donate-back {
    width: 120px;
    height: 40px;
  }

  .wallet-address-input,
  .ticket-count-input {
    width: 80%;
  }
  .modal-dialog {
    max-width: 95vw;
    margin: 0 auto !important;
  }
  .tickets-number {
    font-size: 0.8rem !important;
  }

  .copy-charity {
    width: 50%;
  }

  .heart-jar {
    width: 80vw !important;
    height: 80vw !important;
    max-width: 450px;
    max-height: 400px;
  }
}

/* night mode classes */

body.night-mode .your-tickets-box {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: inset 0px 0px 30px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
body.night-mode .heart-jar {
  background-image: url(../img/heart-jar-dark.png);
}
body.night-mode .heart-jar:hover {
  background-image: url(../img/heart-jar-colored.png);
}

body.night-mode .donation-goal-box-orange {
  background-color: var(--orange2) !important;
}

body.night-mode .donation-goal-box-orange p,
body.night-mode .donation-goal-box-orange span {
  color: white !important;
}

body.night-mode .form-control {
  background-color: transparent !important;
}

body.night-mode .form-floating > label {
  color: white;
}

body.night-mode .form-floating > .form-control {
  color: white !important;
}

body.night-mode .step-circle {
  border-color: white !important;
}

body.night-mode .donate-back:hover,
body.night-mode .create-back:hover {
  color: white !important;
}
