.raffles-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: var(--primary);
}

.prev-page,
.next-page {
  font-size: 38px !important;
  color: #656565;
}

body.night-mode .prev-page,
body.night-mode .next-page {
  color: white;
}

@media (max-width: 991px) {
  .category-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .category-box-col {
    width: 100% !important;
    text-align: center;
    justify-content: center !important;
  }
  .category-text-box {
    justify-content: center !important;
  }

  .btn-outline-raffle {
    border: none !important;
    padding: 0 !important;
  }
  .btn-outline-raffle + .btn-outline-raffle {
    margin-left: 20px !important;
  }

  .btn-raffle-active {
    background-color: transparent !important;
    color: var(--primary) !important;
    position: relative;
  }

  .btn-raffle-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--orange2);
  }
}

.raffle-container-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0.75rem;
}

.btn-outline-raffle {
  border: 2px solid var(--orange2);
  margin: 5px;
  box-sizing: border-box;
  border-radius: 58px;
  color: var(--primary);
}

.btn-raffle-active {
  background-color: var(--orange2);
  color: var(--secondary);
}

.btn-raffle-active:hover {
  color: var(--secondary);
}

.raffle-success .raffle-img-container {
  position: relative;
}
.raffle-success .raffle-img-container img {
  filter: brightness(40%);
}

.raffle-success .raffle-img-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -27px;
  left: -27px;
  border-radius: 16px;
  background-image: url("../img/successful.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.dashboard-donated {
  margin-top: 4.5rem !important;
}
.raffle-card-link {
  height: 100%;
}
.raffle-unsuccess .raffle-img-container {
  position: relative;
}
.raffle-unsuccess .raffle-img-container img {
  filter: brightness(50%);
}

.raffle-unsuccess .raffle-img-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -27px;
  left: -27px;

  border-radius: 16px;
  background-image: url("../img/unsuccessful.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.page-link {
  border: none !important;
  color: var(--primary);
  background-color: transparent !important;
}

.page-number {
  cursor: text;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 8px !important;
  color: var(--primary) !important;
}

.page-number:hover,
.page-number:active,
.page-number:focus {
  background-color: transparent;
  color: var(--primary);
}
