.base-timer {
  position: relative;
  width: 145px;
  height: 145px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: rgb(224, 224, 224);
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: all 1s linear;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.timer-green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.timer-orange {
  color: var(--orange2);
  transition: color 400s, stroke-dasharray 1s linear;
}

.base-timer__path-remaining.timer-red {
  color: red;
  transition: color 100s, stroke-dasharray 1s linear;
}

.base-timer__label {
  position: absolute;
  width: 145px;
  height: 145px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

@media (max-width: 991px) {
  .base-timer {
    position: relative;
    width: 105px;
    height: 105px;
  }
  .base-timer__label {
    width: 105px;
    height: 105px;

    font-size: 12px !important;
  }
}

body.night-mode #base-timer-label {
  color: black !important;
}
